MONGODB_URI = mongodb://localhost:27017/cosadatabase
JWT_SECRET_TOKEN='secret-token'
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
PORT=5000

GOOGLE_CLIENT_ID=OAuth_Client_ID_from_google_cloud_console
GOOGLE_CLIENT_SECRET=OAuth_Client_Secret_from_google_cloud_console


CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

EMAIL_USER=youremail@gmail.com
EMAIL_PASS=yourapppassword 

NODE_ENV=development  # "development" for local or "production" for deployment