
.Add_user {
    background-color:#419197;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center; 
   vertical-align: middle;
    margin-top: 10px;
  }
  .InputForm-card {
    margin: 0 auto; 
    width: 60%;
  }
  .submit_button{
    width:100%;
    background-color: #419197;
    margin-top: 15px;
    color: white;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
  }